.jumbotron.text-center{
    color: white;
    background-image: url("../images/stars.jpg");
}

.navbar.navbar-expand-sm.bg-dark.navbar-dark li a{
    color: white;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .navbar.navbar-expand-sm.bg-dark.navbar-dark.collapse.navbar-collapse.nav-item{
        color: white;
        background-color: green;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }